/* General styles */
body {
    font-family: sans-serif;
    line-height: 1.5;
    color: #333;
    background: #ddd;
    margin: 2em;
}

h1,
h3 {
    color: #576774;
}

h1:first-child {
    margin-top: 0;
}

/* Form styles */
form {
    background: #fff;
    padding: 1em 1.25em;
    border: solid 1px #ccc;
    border-radius: 0.25em;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    color: #333;
    vertical-align: middle;
}

/* Input and Select styles */
input[type="text"],
input[type="password"],
input[type="submit"],
select {
    font-family: sans-serif;
    width: 100%;
    padding: 0.75em 1em;
    margin-bottom: 1em;
    font-size: 1em;
    border: solid 1px #ccc;
    border-radius: 0.25em;
    background-color: #f9f9f9;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus,
input[type="submit"]:focus {
    border-color: #0b77db;
    box-shadow: 0 0 6px rgba(48, 140, 255, 0.25);
    outline: none;
}

/* Submit button styles */
input[type="submit"] {
    background: #0b77db;
    color: #fff;
    border: none;
    padding: 0.75em 1.5em;
    font-size: 1em;
    border-radius: 0.25em;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background: #3c9aa7;
}

input[type="submit"]:focus {
    background: #3d6eac;
}

input[type="submit"]:active {
    background: #333;
    border-color: #333;
}

/* Fieldset and label styles */
fieldset {
    border: none;
    padding: 0;
}

fieldset + fieldset {
    border-top: solid 1px #eee;
}

.label {
    width: 10em;
    display: inline-block;
}

/* Checkbox styles */
.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    margin-right: 1em;
    font-weight: normal;
}

.checkbox-group input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 0.5em;
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 0.25em;
    outline: none;
    cursor: pointer;
    position: relative;
}

.checkbox-group input[type="checkbox"]:checked {
    background-color: #0b77db;
    border-color: #0b77db;
}

.checkbox-group input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;
    width: 6px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox-group input[type="checkbox"]:focus {
    box-shadow: 0 0 6px rgba(48, 140, 255, 0.25);
}

/* Error styles */
.error > input,
.error > label,
.error > .label {
    color: red;
}

.error > input {
    border-color: red;
}
